body{
    background-image: url("pictures/background.png");
}

.youtube{
    object-fit: fill;
}

img{
    margin: 50px;
}

.container{
    width: 100%;
}

#logo{
    display: block;
    margin: 0 auto;
    width: 860px;
    height: 160px;
}

